.about-img {
  width: 80%;
  height: 600px;
  display: flex;
  justify-content: center;
  background-image: url("https://localhost:3000/Westridge1.jpg");
  background-size: cover;
  background-position: top;
  border-radius: 8px;
  margin: 25px;
}

.paragraph {
  height: 200px;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 10px;
  margin-top: 20px;
  border: 2px solid var(--primary-color);
  border-radius: 8px;
}

.about-card {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (min-width: 601px) and (max-width: 1024px) {
  .paragraph {
    width: 50%;
    font-size: 1em;
  }
}

@media (min-width: 1025px) {
  .about-img {
    width: 1150px;
  }

  .paragraph {
    width: 40%;
    font-size: large;
  }
}
