@media (min-width: 1201px) {
.bikes-display {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}


.all-bikes-error {
    font-size: 3em;
    margin: 35px;
    width: 50%;
}
}